.div2{
        width: 100%;
        height: 1103px;
        background-color: #0f2539;
        float: none;
}
.div3{
        width: 100%;
        height: 685px;
        background-color: #f36e21;
}
.div4{

        width: 100%;
        height: 620px;
        background-color: #0f2539;
        
}
.div5{
        width: 100%;
        height: 800px;
        background-color: #f4831b;
}
.div6{
        width: 100%;
        height: 500px;
        background-color: #0f2539;
}.div7{
        width: 100%;
        height: 500px;
        background-color: white;
}

h1.color-w{
        text-align:center;
        padding: 3%;
        font-size: 2.0em;
        color: white;
}
h1.color-o{
        
        text-align:center;
        font-size: 3.0em;
        color: #f4931c;
      
        
}
.routerWiFi{
        
        height: 30.5%;
        width: 65.5%;
        max-height: 350px;
        max-width: 1680px;
        margin-left: 18%;
        padding-bottom: 5%;
}

label{
        text-align:center;
        font-size: 1.0em;
}

h1.packget{
        margin-left: 12.5%;
        padding: 5%;
        font-size: 2.0em;
        color: white;

}
.div4 h1{
        float: left;
        color: white;
        font-size: 1.5em;
        margin-top: 1.8%;
}
.gigttv{
    float: left;
    height: 6.0%;
    width: auto;
    max-width: 300px;
    margin-left: 33%;
    margin-top: 1.5%;
}
.gigttvbaner{
height: 66.5%;
width: auto;
max-width: 1680px;
margin-left: 17%;
margin-top: 1.5%;

}
.div4 button{
        
        border: none;
        border-radius: 4px;
        color: white;
        background-color: #f5921c;
        height: 50px;
        width: 140px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 30px;
        margin-left: 45%;

}
.div5 h1{
        margin-left: 12.5%;
        padding: 4%;
        font-size: 2.0em;
        color: white;
        margin-bottom: 3%;
}
