.div2{
        width: 100%;
        height: 1050px;
        background-color: #0f2539;
        position: relative;
        
}
.div3{
        width: 100%;
        height: 800px;
        background-color: #f36e21;
        margin: 0;
        padding-top: 5px;
        
}
.div4{

        width: 100%;
        height: 650px;
        background-color: #0f2539;
        margin: 0;
        padding-bottom: 50px;
        
}
.div5{
        width: 100%;
        height: 800px;
        background-color: #f4831b;
        margin: 0;
        padding-top: 5px;
}
.div6
{
        width: 100%;
        height: 1570px;
        background-color: #0f2539;
        margin: 0;
        padding-top: 5px;
}.div7
{
        width: 100%;
        height: 900px;
        background-color: white;
       

}
h1.color-w
{
        float: left;
        font-size: 1.7em;
        color: white;
        padding: 32px 0px;
        font-family:Kanit-ExtraLight;
        font-weight: bold;
}
h1.color-o
{
        float: left;
        font-size: 1.7em;
        color: #f4931c;
        padding:32px 0px;
        padding-left: 40%;
        padding-right: 5px;
        font-family:Kanit-ExtraLight;
        font-weight: bold;
}
.routerWiFi
{        
        height: 30.5%;
        width: 65.5%;
        max-height: 350px;
        max-width: 1680px;
        margin-left: 18%;
        padding-bottom: 5%;
}

label
{
  text-align:center;
  font-size: 1.0em;
}

h1.packget
{
        margin-left: 12.5%;
        padding: 5%;
        font-size: 2.0em;
        color: white;
        font-family:Kanit-Regular;
        font-weight: bold;

}
.div4 h1
{
        float: left;
        color: white;
        font-size: 1.5em;
        margin-top: 1.8%;
}
.gigttv{
    float: left;
    height: 6.0%;
    width: auto;
    max-width: 300px;
    margin-left: 33%;
    margin-top: 1.5%;
}
 .gigttvbaner
 {

 height: 66.5%;
 width: auto;
 max-width: 1680px;
 margin-left: 17%;
 margin-top: 1.5%;

}
.div4 button
{        
        border: none;
        border-radius: 4px;
        color: white;
        background-color: #f5921c;
        height: 50px;
        width: 140px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 30px;
        margin-left: 45%;
        font-family:Kanit-ExtraLight;
        font-weight: bold;
}
.div5 h1
{
        margin-left: 12.5%;
        padding: 4%;
        font-size: 2.0em;
        color: white;
        margin-bottom: 3%;
}
h1.in{

        font-family:Kanit-ExtraLight;
        font-weight: bold;

}
button.de{
        font-family:Kanit-ExtraLight;
        font-weight: bold;

}

.promotion-recommen-ul
{  
        list-style-type: none;
        overflow: hidden;
        align-items: center;
        margin: 40px 260px;
      
        
 }
 .promotion-recommen-ul li {
        float: left;
        padding: 0px 15px;
}
 .btn-see-all-promotion-recommen
 {      margin-left: 948px;
        height: 40px;
        width: 140px;
        background-color: inherit;
        border: 1px solid white;
        border-radius: 20px;
        display: inline-block;
        cursor: pointer;
 }

.btn-see-all-promotion-recommen h1{
        float: left;
        text-decoration: none;
        text-align: center;
        color: white;
        font-family:Kanit-ExtraLight;
        font-size: 1.2em;
        margin-left: 20%;
        margin-top: 1px;
}


 .sp-cut{
        
        padding: 20px;
        color: white;
        text-align: center;
        font-family:Kanit-Regular;

 }
 .TBB-Privilege
 {      
         padding: 1%;
        font-size: 2.0em;
        color: white;
        font-family:Kanit-Regular;
        font-weight: bold;
        

 }
 .Privilege{
        width:45px;
        height: auto;
        padding: 0px 5px;
        
 }
 .Reward
 {
        margin-left: 15.5%;
        padding: 1%;
        font-size: 2.0em;
        color: white;
        font-family:Kanit-Regular;
        font-weight: bold;
        

 }
 .Reward_img{
         
        width:45px;
        height: auto;
        padding: 0px 5px;
 }
 .btn-see-all-Privilege{
        float: right;
        margin-top: 10px;

 }
 .btn-see-all-Reward{
        float: right;
        margin-top: 20px;

 }
 .Privilege-ul {
        list-style-type: none;
        overflow: hidden;
        align-items: center;
        margin: 40px 250px;
        
        
}
.Privilege-ul li {
        float: left;
        padding: 0px 15px;
}
.Reward-ul {
        list-style-type: none;
        overflow: hidden;
        align-items: center;
        margin: 40px 240px;
        
        
}
.Reward-ul li {
        float: left;
        padding: 0px 15px;
}

.Privilege-ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        align-items: center;
        font-family:Kanit-ExtraLight;
        font-weight: bold;
        letter-spacing: 1px;
        
        
}
.btn-see-all-Privilege {
        margin-left: 890px;
        height: 40px;
        width: 140px;
        background-color: inherit;
        border: 1px solid #f8941c;
        border-radius: 20px;
        display: inline-block;
        cursor: pointer;

       
}
.btn-see-all-Privilege h1{
        float: left;
        text-decoration: none;
        text-align: center;
        color: white;
        font-family:Kanit-ExtraLight;
        font-size: 1.2em;
        margin-left: 20%;
        margin-top: 5px;
}

.btn-see-all-Reward {
        margin-left: 970px;
        height: 40px;
        width: 140px;
        background-color: inherit;
        border: 1px solid #f8941c;
        border-radius: 20px;
        display: inline-block;
        cursor: pointer; 
}
.btn-see-all-Reward h1{
        float: left;
        text-decoration: none;
        text-align: center;
        color: white;
        font-family:Kanit-ExtraLight;
        font-size: 1.2em;
        margin-left: 20%;
        margin-top: 5px;
}
.n-icon{
  float: left;
  color: white;
  font-size: 2.5em;
  margin-top: 2%;  
}
.bg{    margin-top: 50px;
        max-width: 100%;
        max-width: 100%;
}