img.rp{
    height: 50.5%;
    width: 100%;
    max-width: 300px;
    
}
img.t-rp{
    height: 60.5%;
    width: 100%;
    max-width:200px;
    margin: 0 auto;
    
}
div.card {
    max-width: 265px;
    margin: 0px;
    text-align: center;
    border: none;
    background-color: white;
    
  }

.card h2{
    float: left;
    font-size: 1.0em;
    margin-top: 7%;
    margin-left: 8%;
    
}
.card h3{
    float: left;
    font-size: 1.0em;
    margin-top: 7%;
    margin-left: -20%;
    
}
.card h4{
    float: right;
    font-size: 1.0em;
    margin-top: -3%;
    margin-right: 8%;
   
}
.card h5{
    float: right;
    font-size: 1.0em;
    margin-top: -2%;
    margin-right: 5%;
    
}
.muliti-item button{



  
}
.regis {
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #f5921c;
    height: 40px;
    width: 140px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 40px;
    font-family:Kanit-Regular;
    font-weight: bold;
  }
  .h-rp{
    float: left;
    font-size: 1.2em;
    margin-top: 7%;
    margin-left: 8%;
    font-family:Kanit-Regular;
    font-weight: bold;
   


  }
  .muliti-card {
    margin: 0 auto;
    padding: 0px 60px 60px 60px;
    width: 66%;
    margin-top:-85px;
    margin-left:18%;
}
.slick-next:before, .slick-prev:before {
  color: #000;
  
}
